@media (max-width: 800px) {
  .table {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    max-width: 300px;
    margin: auto;
  }

  .caixas {
   
    height: 50vh;
  }

  img {
    margin-top: 100px;
    height: 130px;
    width: 92px;
  }
}