.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 800px;
}
#column01 #column02 {
  display: flex;
  flex-direction: column;
  position: relative;
}

img {
  height: 100px;
  width: 70px;
}
